* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.conteiner {
    width: 100%;
    height: 1000px;
    background-color: #0C0C0C;
    background-image: url("./image/G.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner .content {
width: 1000px;
height: 700px;
display: flex;
align-items: center;
justify-content: center;
background-image: url("./image/savernake-knives-f4jl2ezowuM-unsplash\ 2.png");
background-repeat: no-repeat;
background-position: center;
position: relative;
gap: 200px;
}

.conteiner .content .divOne {
    width: 400px;
    height: 300px;
    text-align: right;
}
.conteiner .content .divTwo {
    width: 400px;
    height: 300px;
    text-align: left;
}
.conteiner .content h1 {
    color: #CFBE7F;
}
.conteiner .content .divOne p  {
    color: #AAAAAA;
    margin-bottom: 20px;
}
.conteiner .content .divTwo p {
    color: #AAAAAA;
    line-height: 20px;
    margin-bottom: 20px;
}
.conteiner .content .divTwo button {
    width: 120px;
    height: 40px;
    font-family: Cormorant Upright;
    background-color: #CFBE7F;
}
.conteiner .content .divOne button {
    width: 120px;
    height: 40px;
    font-family: Cormorant Upright;
    background-color: #CFBE7F;
}
.bigdiv {
    width: 100%;
    height: 900px;
    background-image: url("./image/Group\ 90.jpg");
}
.bigdiv .contentTwo {
    width: 350px;
    height: 350px;
    position: relative;
    top: 30%;
    left: 12%;
}
.bigdiv .contentTwo h1 {
    font-size: 40px;
    color: white;
    line-height: 80px;
    position: relative;
}
.bigdiv .contentTwo .line {
    text-decoration: underline;
    text-decoration-color:white ;
    text-decoration-thickness: 3px ;
}
.bigconteiner {
    width: 100%;
    height: 900px;
    background-color: #0C0B08;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.bigconteiner .header {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bigconteiner .header p {
    color: white;
}
.bigconteiner .header h1 {
    font-size: 40px;
     color: #CFBE7F;
}
.bigconteiner .items {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}
.bigconteiner .items .itemOne {
    width: 33%;
    height: 600px;
}
.bigconteiner .items .itemTwo {
    width: 33%;
    height: 600px;
    background-image: url("./image/3596233\ 1.png");
    background-repeat: no-repeat;
background-position: center;
}
.bigconteiner .items .itemThree {
    width: 33%;
    height: 600px;
}
.bigconteiner .items .itemOne .wine .head h1 {
color: white;
}
.bigconteiner .items .itemOne .wine .head {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigconteiner .items .itemOne .wine {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}







